SQL CONNECTION / Backend Connectivity / Database Connection:
        It is a process of connecting python file to a database.
        It is possible by importing sqlite3 module.
        Syntax:
            import sqlite3 
            var=sqlite3.connect("database.db")

        Cursor function :
            It is used to point to a required location and to executes query.

        Execute function :
            It is used to execute the queries.
        
        Commit function:
            It is used to save the data
        
        Close :
            It is used to close the sqlite3.

        
        Syntax :
            import sqlite3 
            var=sqlite3.connect("database.db")
            cursor()
            execute()
            commit()
            close()
        
        Fetchone :
            It is a function which is used to fetch the first matching record

        Fetchall:
            It is used to fetch all the matching record

In [1]:
import sqlite3 as sql
a=sql.connect('stu.db')
b=a.cursor()

In [2]:

b.execute("Create table student ('name' varchar ,'id' number, 'email' varchar, 'number' number)")

In [3]:
b.execute("Insert into student values('Jensilin', 3034, 'jensi@gmail.com', 6363784224)")

In [4]:
b.execute("Insert into student values('Luffy', 3063, 'lufffy@gmail.com', 789544224)")

In [5]:
b.execute("Insert into student values('Zoro', 3064, 'zoro@gmail.com', 636387456214)")

In [6]:
a.commit()

In [7]:
print(b.execute("Select * from student").fetchall())

[('Jensilin', 3034, 'jensi@gmail.com', 6363784224), ('Luffy', 3063, 'lufffy@gmail.com', 789544224), ('Zoro', 3064, 'zoro@gmail.com', 636387456214)]

In [8]:
res=b.execute("select name from student where id in (3064,3063)")
print(res.fetchall())

[('Luffy',), ('Zoro',)]

In [9]:
z=b.execute("Select * from student")
print(z.fetchone())

('Jensilin', 3034, 'jensi@gmail.com', 6363784224)

In [10]:
print(list(b.execute("Select * from student where name= 'Luffy'")))

[('Luffy', 3063, 'lufffy@gmail.com', 789544224)]

In [11]:
a.commit()

In [12]:
a.close()